header, footer {
  height: 5%;
  background-color: lightgray;
  position: fixed;
  right: 0;
  left: calc((100% - 940px) / 2);
}

header {
  top: 0;
}
footer {
  bottom: 0;
}

.container {
  max-width: 940px;
  position: relative;
  margin: 10% auto;
  overflow: visible;
  display: flex;
}

.textbox-container {
  margin-left: 20px;
  flex-shrink: 0;
}

.long-text {
  width: 200px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.rows-container {
  width: 100%;
  position: relative;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow-x: visible;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin-bottom: 20px;
  position: relative;
}
.row img {
  max-width: 100%;
  max-height: 30vh;
  height: auto;
  margin: 0 10px;
  border-radius: 12px;
}

.rows-container .upper-row {
  margin-right: 0;
  overflow-x: hidden;
  margin-left: -30%;
}
.rows-container .lower-row {
  margin-right: 30%;
  overflow-x: hidden;
  margin-left: -30%;
}


.buttons-container {
  position: absolute;
  top: calc(30vh + 5%);
  right: 0;
  max-width: 80px;
  max-height: 150px;
}

button {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
  margin: 0 10px 10px 10px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
}

.prev:hover img {
  content: url('Assets/arrow-gray-left.png');
}
.next:hover img {
  content: url('Assets/arrow-gray-right.png');
}